{% extends "stock/common/layout.html" %}
{% load staticfiles %}
{% load compress %}
{% load crispy_forms_tags %}


{% block title %}
<title>Stock backtesting</title>
{% endblock %}


{% block navbar %}
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">
        <i class="fa fa-home"></i> JK Project
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li>
          <a href="">
            <i class="fa fa-user"></i> Hello {{ user }}
          </a>
        </li>
        <li>
          <a href="{% url 'stock_list' %}">
            <i class="fa fa-globe"></i> S&P500
          </a>
        </li>

        <li class="dropdown">
          <a href="" class="" data-toggle="dropdown">
            <i class="fa fa-bar-chart"></i> Heat
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="{% url 'heat_prev_change' %}">
                <i class="fa fa-pencil"></i> By prev change
              </a>
            </li>
            <li>
              <a href="{% url 'heat_spread' %}">
                <i class="fa fa-pencil"></i> By spread
              </a>
            </li>
            <li>
              <a href="{% url 'heat_vol_over_float' %}">
                <i class="fa fa-pencil"></i> By vol/float
              </a>
            </li>
            <li>
              <a href="{% url 'heat_day_change' %}">
                <i class="fa fa-pencil"></i> By day change
              </a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="" class="" data-toggle="dropdown">
            <i class="fa fa-line-chart"></i> Trend
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="{% url 'trend_2day_transition' %}">
                <i class="fa fa-pencil"></i> 2-day transition
              </a>
            </li>
            <li>
              <a href="{% url 'trend_2day_gain' %}">
                <i class="fa fa-pencil"></i> 2-day gain
              </a>
            </li>
            <li>
              <a href="{% url 'trend_2day_loss' %}">
                <i class="fa fa-pencil"></i> 2-day loss
              </a>
            </li>
            <li>
              <a href="{% url 'trend_consistent_gain' %}">
                <i class="fa fa-pencil"></i> Consistent gain
              </a>
            </li>
            <li>
              <a href="{% url 'trend_consistent_loss' %}">
                <i class="fa fa-pencil"></i> Consistent loss
              </a>
            </li>
          </ul>
        </li>

        <!-- <li> -->
        <!--     <a href="{% url 'user_position_list' %}"> -->
        <!--         <i class="fa fa-balance-scale"></i> Positions -->
        <!--     </a> -->
        <!-- </li> -->
        <!-- <li> -->
        <!--     <a href="{% url 'candidate_list' %}"> -->
        <!--         <i class="fa fa-thumbs-o-up"></i> Candidates -->
        <!--     </a> -->
        <!-- </li> -->

        <li class="dropdown">
          <a href="" class="" data-toggle="dropdown">
            <i class="fa fa-line-chart"></i> Backtesting
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <!-- <li> -->
            <!--     <a href="{% url 'simulation_exec' %}"> -->
            <!--         <i class="fa fa-pencil"></i> Simulation -->
            <!--     </a> -->
            <!-- </li> -->
            <li>
              <a href="{% url 'simulation_result_list' %}">
                <i class="fa fa-pencil"></i> Sim results
              </a>
            </li>
            <li>
              <a href="{% url 'stock_historicals_list' %}">
                <i class="fa fa-pencil"></i> Historicals
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right visible-md visible-lg">
        {# user profile #}
        <li class="dropdown" data-toggle="tooltip" title="更新你的用户信息" id="user-profile">
        </li>

        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'logout' %}">
            <i class="fa fa-sign-out"></i>
            <span class="my-button-sm">Logout</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!-- container-fluid -->
</div>{% endblock %}<!-- end of block navbar -->
