{% extends "stock/common/base.html" %}

{% block page-header %}
S&P500
{% endblock %}


{% block content %}
<table class="table table-striped table-hover" id="stock-list">
  <thead>
    <th>Symbol</th>
    <th>Company Name</th>
    <th>is SP500</th>
  </thead>
  <tbody>
    {% for obj in object_list %}
    <tr><td>
      {{ obj.symbol }}
    </td><td>
      {{ obj.company_name }}
    </td><td>
      {{ obj.is_sp500 }}
    </td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
 function update_stock(){
   // ajax to server to get a list of columns:4"markers that are within the viewport
   j$.post("{% url 'stock_update' %}", // passed in from view
	   {
	   }, 
	   function(resp) { // success callback
	     //toastr.info('Spot price updated');
	     setTimeout(update_stock, 60000); // refresh every 60 seconds
	   },'json'
   ).always(function(){
     // remove spinner      	
   });  	
 }	

 j$(document).ready(function(){
   /* Use 'html' instead of an array of values to pass options 
      to a sparkline with data in the tag */
   j$('.spark').sparkline('html', {type: 'line',width:"100px"} );	

   j$('#stock-list').DataTable({
     "lengthMenu": [[50,100, -1], [50, 100, "All"]],
     "info": false,
     'pagingType': 'simple'
   });	
   
   //update_stock();		
 });
</script>
{% endblock %}

