{% extends "stock/common/base.html" %}

{% block page-header %}
	S&P500 Heat
{% endblock %}

{% block content %}
<div class="jumbotron">
<h1>Spread</h1>
<p>
Bid-ask spread (spread=ask-bid) is showing the differences between seller(ask) and buyer(bid). This in general reflects the market supply-demand of a stock.
</p>
</div>

	<table class="table table-striped table-hover" id="stock-list">
	<thead>
		<th>Symbol</th>
		<th>Company Name</th>
		<th>Spread</th>
		<th>Ask</th>
		<th>Bid</th>
		<th>Last</th>
	</thead>
	<tbody>
		{% for obj in object_list %}
		<tr><td>
			{{ obj.symbol }}
		</td><td>
			{{ obj.company_name }}
		</td><td>
			{{ obj.spread|floatformat:2 }}
		</td><td>
			{{ obj.ask|floatformat:2 }}
		</td><td>
			{{ obj.bid|floatformat:2 }}
		</td><td>
			{{ obj.last|floatformat:2 }}
		</td></tr>
    	{% endfor %}
	</tbody>
	</table>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
	j$(document).ready(function(){
		j$('#stock-list').DataTable({
			"lengthMenu": [[-1], ["All"]],
			"info": false,
			'paging': false,
			// 'pagingType': 'simple'
		});		
	});
</script>
{% endblock %}

