{% extends "stock/common/base.html" %}

{% block page-header %}
	S&P500 Heat
{% endblock %}

{% block content %}
<div class="jumbotron">
<h1>Vol/Float</h1>
<p>
Volume over the number of floating shares. Values are in %.
</p>
</div>

	<table class="table table-striped table-hover" id="stock-list">
	<thead>
		<th>Symbol</th>
		<th>Company Name</th>
		<th>Vol</th>
		<th>Vol/float</th>
		<th>Ask</th>
		<th>Bid</th>
		<th>Last</th>
	</thead>
	<tbody>
		{% for obj in object_list %}
		<tr><td>
			<a href="http://finviz.com/quote.ashx?t={{ obj.symbol }}">{{obj.symbol}}</a>
		</td><td>
			{{ obj.company_name }}
		</td><td>
			{{ obj.vol }}
		</td><td>
			{{ obj.vol_over_float|floatformat:2 }}%
		</td><td>
			{{ obj.ask|floatformat:2 }}
		</td><td>
			{{ obj.bid|floatformat:2 }}
		</td><td>
			{{ obj.last|floatformat:2 }}
		</td></tr>
    	{% endfor %}
	</tbody>
	</table>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
	j$(document).ready(function(){
		j$('#stock-list').DataTable({
			"lengthMenu": [[-1], ["All"]],
			"info": false,
			// 'paging': false,
			'pagingType': 'simple'
		});		
	});
</script>
{% endblock %}

