{% extends "stock/common/base.html" %}
{% load crispy_forms_tags %}

{% block page-header %}
	{% if data_source %}
		{{ data_source }} historicals
	{% else %}
		Historicals
	{% endif %}
{% endblock %}


{% block content %}
<form action="{% url 'stock_historicals_list' %}" class="uniForm" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit" />
</form>

<h2>{{ on_date }}</h2>
<table class="table my-datatable">
	<thead>
		<th>Symbol</th>
		<th>Open</th>
		<th>High</th>
		<th>Low</th>
		<th>Close</th>
		<th>Adj close</th>
		<th>Vol (000)</th>
		<th>Daily return (%)</th>
		<th>Relative HL</th>
	</thead>

	<tbody>
	{% for h in historicals %}
		<tr><td>
			<a href="{% url 'stock_detail' h.stock.id %}">
			{{ h.stock.symbol }}
			</a>
		</td><td>
			{{ h.open_price|floatformat:2 }}
		</td><td>
			{{ h.high_price|floatformat:2 }}
		</td><td>
			{{ h.low_price|floatformat:2 }}
		</td><td>
			{{ h.close_price|floatformat:2 }}
		</td><td>
			{% if h.adj_close > 0 %}
				{{ h.adj_close|floatformat:2 }}
			{% else %}
				n/a
			{% endif %}
		</td><td>
			{{ h.vol|floatformat:0 }}
		</td><td>
			{{ h.daily_return|floatformat:2 }}
		</td><td>
			{{ h.relative_hl|floatformat:2 }}
		</td></tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}