{% extends "stock/common/base.html" %}

{% block page-header %}
	Overall
{% endblock %}


{% block content %}
<div class="jumbotron">
<p>
This illustrates an overall trend over the captured time window, eg. 2 trading days, by comparing a stock's last trading price vs. its initial open price.
</p>
</div>

<ul class="nav nav-tabs" data-type="nav-side">
	<li class="active"><a data-toggle="tab" href="#up">Up ({{up|length}})</a></li>
	<li><a data-toggle="tab" href="#down">Down ({{down|length}})</a></li>
</ul>

<div class="tab-content">
	<div id="up" class="tab-pane fade in active">
		<h2>Up</h2>
		<table class="table table-striped table-hover">
		<thead>
			<th>Symbol</th>
			<th>Company Name</th>
			<th>Prev open</th>
			<th>Last</th>
			<th>Gain</th>
		</thead>
		<tbody>
			{% for obj in up %}
			<tr><td>
			<a href="http://finviz.com/quote.ashx?t={{ obj.symbol }}">{{obj.symbol}}</a>
			</td><td>
				{{ obj.company_name }}
			</td><td>
				{{ obj.prev_open|floatformat:2}}
			</td><td>
				{{ obj.last|floatformat:2 }}
			</td><td>
				{{ obj.overall_trend|floatformat:2}}%
			</td></tr>
	    	{% endfor %}
		</tbody>
		</table>
	</div>
	<div id="down" class="tab-pane fade in">
		<h2>Down</h2>
		<table class="table table-striped table-hover">
		<thead>
			<th>Symbol</th>
			<th>Company Name</th>
			<th>Prev open</th>
			<th>Last</th>
			<th>Loss (%)</th>
		</thead>
		<tbody>
			{% for obj in down %}
			<tr><td>
			<a href="http://finviz.com/quote.ashx?t={{ obj.symbol }}">{{obj.symbol}}</a>
			</td><td>
				{{ obj.company_name }}
			</td><td>
				{{ obj.prev_open|floatformat:2}}
			</td><td>
				{{ obj.last|floatformat:2 }}
			</td><td>
				<font color="red">{{ obj.overall_trend|floatformat:2 }}%</font>
			</td></tr>
	    	{% endfor %}
		</tbody>
		</table>
	</div>	
</div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
	j$(document).ready(function(){
		j$('.table').DataTable({
			"lengthMenu": [[250, -1], [250, "All"]],
			"info": false,
			'pagingType': 'simple'
		});		
	});
</script>
{% endblock %}

