{% extends "stock/backtesting/s2_list.html" %}
{% load staticfiles %}

{% block page-header %}
	{{stock}}
{% endblock %}


{% block content %}
<h1>Peer ranks</h1>
<div id="container" style="width:100%; height:600px;"></div>

<ul class="list-inline">
	{% for p in peers %}
	<li><a href="{{p.url}}">{{p.symbol}}</a></li>
	{% endfor %}
</ul>
<script type="text/javascript">
	var j$ = jQuery.noConflict();
	j$(document).ready(function(){
		j$(function () {
		    j$('#container').highcharts({
		        chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'Strategy #2 Peer Ranking ({{year}})'
		        },
		        subtitle: {
		            text: 'Source: Chenmin'
		        },
		        xAxis: {
		            categories: []
		        },
		        yAxis: {
		            title: {
		                text: 'Peer ranks'
		            }
		        },
		        plotOptions: {
		            line: {
		                dataLabels: {
		                    enabled: true
		                },
		                enableMouseTracking: false
		            }
		        },
		        series: [{
		            name: '{{stock.symbol}}',
		            data: {{ranks}}
		        }]
		    });
		});
	});
</script>
{% endblock %}

