{% extends "stock/common/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page-header %}
Strategy #2
{% endblock %}

{% block content %}
<div class="jumbotron">
<h1>Trading strategy</h1>

	This strategy is based on Chenmin's email:

	交易思想如下，根据某指标，对每只指数进行排名，排入前25%的，就进行持仓； 一旦持仓，落后到40%以后，则平仓出来。。
	比如，在9/12,  CI005025 排名从第10跳到第6， 则LONG之（第6名相当于 6/29 =20% ） ；  到9/19, 排名第一次跌出前 12名； 则平仓。。

	为了对冲做多的风险，对应地也对这些指数进行做空，一样，排名后25%， 则做空，返回到 60%以内，则平仓。。

	下面只剩下指标怎么定义： 
	采用以下进行测试：
	指标 = ( 价格- （N日均价))/N日价格的标准差     指标值越大，则排名越靠前	

	N = int(M/4), where M is the total number of stocks participating in ranks	
</div>

<form action="{% url 'backtesting_2' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>

{% if asset_dates and asset_vals %}
<h2>Asset values</h2>
<div id="container" style="width:100%; height:600px;"></div>
<script type="text/javascript">
	var j$ = jQuery.noConflict();
	var dates = [];
	{% for d in asset_dates %}
		dates.push("{{d}}");
	{% endfor %}

	j$(document).ready(function(){
		j$(function () {
		    j$('#container').highcharts({
		        chart: {
		            type: 'line'
		        },
		        title: {
		            text: 'Strategy #2 Trading Simulation'
		        },
		        subtitle: {
		            text: '{{start}} - {{end}}'
		        },
		        xAxis: {
		            categories: dates
		        },
		        yAxis: {
		            title: {
		                text: 'Asset value'
		            }
		        },
		        plotOptions: {
		            line: {
		                dataLabels: {
		                    enabled: false
		                },
		                enableMouseTracking: false
		            }
		        },
		        series: [{
		            name: 'Assets',
		            data: {{asset_vals}}
		        }]
		    });
		});
	});
</script>
{% endif %}

{% if data %}
<h2>Peer ranks</h2>
	{% for d in data %}
	<p>{{ d.on_date }}: {{ d.ranks }}
	</p>
	{% endfor %}
{% endif %}
{% endblock %}

{% block custom_js %}
    <script type="text/javascript"
    	src="{% static 'highcharts/highcharts-custom.js' %}">
    </script>
{% endblock %}