{% extends "stock/common/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page-header %}
Strategy #2
{% endblock %}

{% block content %}
<form action="{% url 'backtesting_2' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>

{% if asset_dates and asset_vals %}
<h2>Asset values</h2>
<div id="container" style="width:100%; height:600px;"></div>
<script type="text/javascript">
	var j$ = jQuery.noConflict();
	var dates = [];
	{% for d in asset_dates %}
		dates.push("{{d}}");
	{% endfor %}

	j$(document).ready(function(){
		j$(function () {
		    j$('#container').highcharts({
		        chart: {
		            type: 'line'
		        },
		        title: {
		            text: 'Strategy #2 Trading Simulation'
		        },
		        subtitle: {
		            text: '{{start}} - {{end}}'
		        },
		        xAxis: {
		            categories: dates
		        },
		        yAxis: {
		            title: {
		                text: 'Asset value'
		            }
		        },
		        plotOptions: {
		            line: {
		                dataLabels: {
		                    enabled: false
		                },
		                enableMouseTracking: false
		            }
		        },
		        series: [{
		            name: 'Assets',
		            data: {{asset_vals}}
		        }]
		    });
		});
	});
</script>
{% endif %}

{% if data %}
<h2>Peer ranks</h2>
	{% for d in data %}
	<p>{{ d.on_date }}: {{ d.ranks }}
	</p>
	{% endfor %}
{% endif %}
{% endblock %}

{% block custom_js %}
    <script type="text/javascript"
    	src="{% static 'highcharts/highcharts-custom.js' %}">
    </script>
{% endblock %}