{% extends "stock/backtesting/list.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page-header %}
Backtesting 2
{% endblock %}

{% block strategy-intro %}
<div class="my-multicol-2">
<p>
The core of backtesting 2 strategies is to compute a "factor value" for each historical record. Based on the strategy and specified cutoff values, it simulates trades and generate a report.

<h3>Data source</h3>
	<ul>
		<li> S&P 500 stocks</li>
		<li> "CI00" sector</li>
		<li> "8821" WIND sector</li>
		<li> China stocks</li>
	</ul>
Special symbol "000001" is the China equivalent of S&P500 index.

<h3>Trading strategy</h3>
<h4>by daily ranking</h4>
<p>
Given a date, we rank samples by precomputed "factor value". We buy symbols whose rank falls into a band defined by "buy_cutoff" and "sell_cutoff".

<p>
Rank defaults to ascending order. The meaning of it depends on how the factor value is calculated. Eg. factor value using daily return = (close[t0] - close[t-1])/close[t-1], ascending order means we will buy stock whose price has dropped the most on t0 &rarr; we chase losers; descending order would reverse this logic &rarr; we chase winners.

<h4>buy low sell high</h4>
<p>
Based on "daily return", if buy_cutoff is 0.04, we buy stocks whose has seen a daily price DROP greater than 0.04; if sell_cutoff is 0.05, we sell stocks whose daily price INCREASE is greater than 0.05. For this strategy, sorting is irrelevant.
</div>
{% endblock %}

{% block strategy-control %}
<form action="{% url 'backtesting_2' %}" class="uniForm" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}

{% block strategy-result %}
<h1 class="page-header">Traces</h1>
{% for on_date, sp in snapshots.iteritems %}
<div>
<h3 class="my-section-header">{{ on_date }}</h3>

<ul class="list-inline text-center">
	<li><span class="label label-default">asset</span>{{ sp.asset|floatformat:2 }}</li>
	<li> = </li>
	<li><span class="label label-default">cash</span>{{ sp.cash|floatformat:2 }}</li>
	<li> + </li>
	<li><span class="label label-default">equity</span>{{ sp.equity|floatformat:2 }}</li>
	<li> | </li>
	<li><span class="label label-default">Gain from equity exit</span>
		{% if sp.gain.sell < 0 %}
			<font color="red">{{ sp.gain.sell|floatformat:2 }}</font>
		{% else %}
			{{ sp.gain.sell|floatformat:2 }}
		{% endif %}
	</li>
	<li><span class="label label-default">Gain from equity portfolio</span>
		{% if sp.gain.hold < 0 %}
			<font color="red">{{ sp.gain.hold|floatformat:2 }}</font>
		{% else %}
			{{ sp.gain.hold|floatformat:2 }}
		{% endif %}
	</li>
</ul>

<ul class="nav nav-tabs">
	{% if sp.transaction.buy %}
    <li class="active"><a data-toggle="tab" href="#{{on_date|date:"Y-m-d"}}-buy">Buy</a></li>
    {% endif %}

    {% if sp.transaction.sell %}
    <li><a data-toggle="tab" href="#{{on_date|date:"Y-m-d"}}-sell">Sell</a></li>
    {% endif %}

    {% if sp.portfolio %}
    <li><a data-toggle="tab" href="#{{on_date|date:"Y-m-d"}}-portfolio">Portfolio</a></li>
    {% endif %}    
</ul>

<div class="tab-content">
	{% if sp.transaction.buy %}
	<div id="{{on_date|date:"Y-m-d"}}-buy" class="tab-pane fade in active">
		<table class="table table-condensed table-hover table-responsive">
			<thead>
				<th></th>
				<th>Symbol</th>
				<th>Cost</th>
				<th>Vol</th>
			</thead>
			<tbody>
				{% for p in sp.transaction.buy %}
				<tr><td>
					{{ forloop.counter }}
				</td><td>
					{{ p.stock.symbol }}
				</td><td>
					{{ p.position|floatformat:2 }}
				</td><td>
					{{ p.vol|floatformat:2 }}
				</td></tr>
				{% endfor %}{# end of buys #}
			</tbody>
		</table>
	</div>
	{% endif %}

	{% if sp.transaction.sell %}
	<div id="{{on_date|date:"Y-m-d"}}-sell" class="tab-pane fade in">
		<table class="table table-condensed table-hover table-responsive">
			<thead>
				<th></th>
				<th>Symbol</th>
				<th>Cost</th>
				<th>Exit</th>
				<th>Gain</th>
				<th>Life in days</th>
			</thead>
			<tbody>
				{% for p in sp.transaction.sell %}
				<tr><td>
					{{ forloop.counter }}
				</td><td>
					{{ p.stock.symbol }}
				</td><td>
					{{ p.position|floatformat:2 }}
				</td><td>
					{{ p.close_position|floatformat:2 }}
				</td><td>
					{{ p.gain|floatformat:2 }}
				</td><td>
					{{ p.life_in_days }}
				</td></tr>
				{% endfor %}{# end of buys #}
			</tbody>
		</table>
	</div>
	{% endif %}

	{% if sp.portfolio %}
	<div id="{{on_date|date:"Y-m-d"}}-portfolio" class="tab-pane fade in">
		<table class="table table-condensed table-hover table-responsive">
			<thead>
				<th></th>
				<th>Symbol</th>
				<th>Cost</th>
				<th>Vol</th>
			</thead>
			<tbody>
				{% for p in sp.portfolio %}
				<tr><td>
					{{ forloop.counter }}
				</td><td>
					{{ p.stock__symbol }}
				</td><td>
					{{ p.position|floatformat:2 }}
				</td><td>
					{{ p.vol|floatformat:2 }}
				</td></tr>
				{% endfor %}{# end of buys #}
			</tbody>
		</table>
	</div>
	{% endif %}	
</div>{# end of row #}
</div>
{% endfor %}
{% endblock %}