{% extends "stock/backtesting/list.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page-header %}
Strategy #3
{% endblock %}

{% block strategy-intro %}
Rank stock by its daily change = (T0 open - T-1 close)/(T-1 close). If sorted by ascending order,
the negative ones would be at front &rarr; the one dropped on T0 will be ranked higher. Similarly, the one
seeing a price jump will have a positive change, thus ranked at the bottom.

Buy top 1%, hold, and sell them when they drop to the bottom 1% of the rank.

Assumption: being a SP500 stock, a large daily fall will be corrected by a large daily jump.

Risk: if assumption is not held, we could see a large daily fall but a gradual price rise, thus making us
to hold on a stock without seeing a sell signal.

Test: check open position's life_in_days at the end of simulation.
{% endblock %}

{% block strategy-control %}
<form action="{% url 'backtesting_3' %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}

{% block strategy-result %}
<script type="text/javascript">
	var j$ = jQuery.noConflict();
	var dates = {{ asset_dates|safe }};

	j$(document).ready(function(){
		j$(function () {
		    j$('#container').highcharts({
		        chart: {
		            type: 'line'
		        },
		        title: {
		            text: 'Strategy #3 Trading Simulation'
		        },
		        subtitle: {
		            text: '{{start}} - {{end}}'
		        },
		        xAxis: {
		            categories: dates
		        },
		        yAxis: {
		            title: {
		                text: 'Asset value'
		            }
		        },
		        plotOptions: {
		            line: {
		                dataLabels: {
		                    enabled: false
		                },
		                enableMouseTracking: false
		            }
		        },
		        series: [{
		            name: 'Assets',
		            data: {{asset_vals}}
		        }]
		    });
		});
	});
</script>

{% if data %}
<h2>Peer ranks</h2>
	{% for d in data %}
	<p>{{ d.on_date }}: {{ d.ranks }}</p>
	<p>{{ d.rank_vals }}</p>
	{% endfor %}
{% endif %}
{% endblock %}
